.container {    border: 1px solid gray;
    padding:2%;
}

header {    text-align: center;
padding: 1%;
}

hr { color: gray;
}

h2 {    text-align: left;
}

#password { height: 150px;
width:100%;
border: 2px dashed gray;
font-family: 'Comfortaa', cursive;
text-align: center;
}

.btn {  
border-radius: 30px;
padding: 10px 20px 10px 20px;
font-size: 20pt;
border-color: #ffffff;
}