.container {    border: 1px solid gray;
                border-radius: 20px;
                padding: 2%;
                background-color: white;
}

header {    text-align: center;
            padding: 2%;
            color:  rgb(192, 99, 114);
}

hr { color: gray;
}

h2 {    text-align: left;
        color:  rgb(192, 99, 114);
}

#password { height: 150px;
            width: 100%;
            border: 2px dashed gray;
            font-family: 'Comfortaa', cursive;
            text-align: center;

}

.btn {  border-radius: 30px;
        padding: 10px 20px 10px 20px;
        font-size: 16pt;
        border-color: #ffffff;
        margin: 2%;
}
